import("methods")
importFrom("stats", "as.formula", "fitted", "lm", "model.frame","optimize", "residuals", "rnorm", "sd", "stl", "ts","acf",
           "spec.ar","na.contiguous", "na.exclude", "na.omit","as.ts","quantile","predict","filter","coef")
importFrom("utils", "tail")
importFrom("zoo","na.locf","na.approx","coredata","index","na.fill")
importFrom("car","powerTransform")
importFrom("xts","xts","as.xts","endpoints","is.xts")
importFrom("lubridate","%m+%","days","tz","wday","weeks","year","years")
importFrom("scoringRules","crps_sample")
importFrom("stlplus","stlplus")
importFrom("tsoutliers","tso")
importFrom("UComp", "UC")
export("do.call.fast","tslinear","check_xreg","check_newxreg")
export("mase","mape","mslre","bias","mis","wape","wslre","wse","crps","pinball")
export("box_cox")
export("calendar_eow","calendar_eom","calendar_eoq","calendar_eoy")
export("future_dates","sampling_frequency","sampling_sequence","fourier_series")
export("seasonality_test","seasonal_dummies","auto_regressors")
